title: 'ESC'
'x-group-name': 'Motor Control'
type: 'object'
properties:
  data:
    type: 'object'
    properties:
      component:
        title: 'Component Name'
        type: 'string'
        description: "Configure your device to add components"
      speed:
        type: 'number'
    required: [
      'component'
    ]
