title: 'LCD'
type: 'object'
properties:
  data:
    type: 'object'
    properties:
      component:
        title: 'Component Name'
        type: 'string'
      text:
        type: 'string'
    required: [
      'component'
    ]
