title: 'Continuous Servo'
'x-group-name': 'Motor Control'
type: 'object'
properties:
  data:
    type: 'object'
    properties:
      'component':
        'title': 'Component Name'
        'type': 'string'
        'description': "Configure your device to add components"
      'direction':
        'title': 'Direction'
        'type': 'string'
        'enum': [
          'CW'
          'CCW'
          'STOP'
        ]
    required: [
      'component'
    ]
