title: 'Digital Write'
'x-group-name': 'I/O'
type: 'object'
properties:
  data:
    type: 'object'
    properties:
      component:
        title: 'Component Name'
        type: 'string'
        description: "Configure your device to add components"
      state:
        type: 'string'
        'enum': [
          '1'
          '0'
        ]
    required: [
      'component'
    ]
