title: 'LCD-PCF8574A'
'x-group-name': 'Display'
type: 'object'
properties:
  data:
    type: 'object'
    properties:
      component:
        title: 'Component Name'
        type: 'string'
        description: "Configure your device to add components"
      text:
        type: 'string'
    required: [
      'component'
    ]
